<!-- TITLE MODAL COMPONENT PAGE -->
<div class="panelTitle">
  <h2><strong>Dropdown</strong> Component</h2>
  <ul>
      <li><a scrollTo href="dropdown">Dropdown normal</a></li>
  </ul>
</div>


<!-- DESCRIPTION ACCORDION COMPONENT PAGE -->
<div class="titleComponent">
  <div class="descriptionComponent" id="dropdown">
      <h3>
          <svg>
            <use xlink:href="#gitListItem"></use>
          </svg>
          Dropdown

          <a href="https://github.com/CreamNG/Components/tree/master/dropdown" class="gitBtn" target="_blank">
            <svg>
              <use xlink:href="#gitSvg"></use>
            </svg>
            <span>Github</span></a>
      </h3>

      <div class="demo">
          <c3m-dropdown></c3m-dropdown>
      </div> 

      <div class="explain">
        <p>Opens a dialog modal with focus set on the modal title. Focus loops inside the modal.</p>
      </div>
</div>
</div>
