<!-- TITLE STEP COMPONENT PAGE -->
<div class="panelTitle">
  <h2> <strong> Step </strong> Component </h2>
  <ul>
    <li><a href="#">Multiple Steps</a></li>
  </ul>
</div>

<!-- DESCRIPTION STEP COMPONENT PAGE -->
<div class="titleComponent">
  <div class="descriptionComponent" id="multipleSteps">
    <h3> Multiple Step <a href="https://github.com/CreamNG/Components/tree/master/step" class="gitBtn" target="_blank"><img src="assets/img/github-box.svg" alt="download on github"><span>Github</span></a> </h3>
    <p> It's a Form Steps to divide your forms in multiple pages/containers</p>

    <!-- STEP -->
    <c3m-step>
      <!-- STEP ITEMS -->
      <c3m-step-item title="Title Of Past Step"></c3m-step-item>
      <c3m-step-item isActive="true" title="Title Of Active Step"></c3m-step-item>
      <c3m-step-item title="Title Of Future Step"></c3m-step-item>
      <c3m-step-item title="Title Of Future Step"></c3m-step-item>
      <c3m-step-item title="Title Of Future Step"></c3m-step-item>
    </c3m-step>

  </div>
</div>
