<!-- TITLE MODAL COMPONENT PAGE -->
<div class="panelTitle">
    <h2><strong>Modal</strong> Component</h2>
    <ul>
        <li><a scrollTo href="modal">Dialog Modal</a></li>
    </ul>
</div>


<!-- DESCRIPTION ACCORDION COMPONENT PAGE -->
<div class="titleComponent">
    <div class="descriptionComponent" id="modal">
        <h3>
            <svg>
              <use xlink:href="#gitListItem"></use>
            </svg>
            Dialog Modal

            <a href="https://github.com/CreamNG/Components/tree/master/modal" class="gitBtn" target="_blank">
              <svg>
                <use xlink:href="#gitSvg"></use>
              </svg>
              <span>Github</span></a>
        </h3>

        <div class="demo">
          <!-- MODAL DEMO -->
          <c3m-button ngClass="info" (click)="OpenModal()">Open Modal</c3m-button>
          <c3m-modal></c3m-modal>
        </div>

        <div class="explain">
          <p>Opens a dialog modal with focus set on the modal title. Focus loops inside the modal.</p>
        </div>

        <!-- TABS SNIPPETS -->
        <c3m-tabs class="snippets">
          <c3m-tab tabTitle="HTML">
              <p class="pre-code">To call the component</p>
              <div class="code">
                    <!--?prettify lang=html linenums=true?-->
                    <pre class="prettyprint linenums">
  &#x3C;c3m-button (click)=&#x22;OpenModal()&#x22;&#x3E;Open Modal&#x3C;/c3m-button&#x3E;
  &#x3C;c3m-modal&#x3E;&#x3C;/c3m-modal&#x3E;
                    </pre>
              </div>
          </c3m-tab>

          <c3m-tab tabTitle="CSS">
          </c3m-tab>

          <c3m-tab tabTitle="TypeScript">
          </c3m-tab>
        </c3m-tabs>
    </div>
</div>
