
c3m-list-thumbnails li{
  display: block;
  margin: 1rem 0;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid lightgray;
  width: 50%;
}
c3m-list-thumbnails img{
    display: inline-block;
}

c3m-list-thumbnails span{
  display: inline-block;
  vertical-align: middle;
  line-height: 150px;
}
