
/* HEADER */
header {background-color: #333;}

    header > button {
        position: absolute;
        left: 1rem;
        top: 0.8rem;
        height: 2rem;
        width: 2rem;
        background: initial;
        cursor: pointer;
        transition: transform 0.7s;
    }
        /* If Burger Menu Open */
        .mobileOpen {
            left:0;
            transition: left 0.6s;
        }
            /* Else if Burger Menu Close */
            .mobileClose {transition: left 0.6s;}

                /* Rotate Burger Button */
                .burgerVertical {transform: rotateZ(90deg);}

    header > p {
        text-align: center;
        padding: 1.3rem 0 1.1rem;
    }

    c3m-menu {
        position:absolute;
        left:-700px;
        width: 80%;
        height: auto;
        color: #FFF;
        background-color: #333;
        transition: left 0.6s;
        z-index: 999;
    }

@media screen and (min-width: 1000px) {

    c3m-menu {
        display: block;
        position: static;
        overflow: hidden;
        width: auto;
        height: auto;
        top: 0;
    }

    header {height: 100%; background-color: #333;}

      header .logo {
          display: block;
          text-align: center;
          padding: 1.5rem 0;
      }
       header > p {
        padding: 0;
       }
        header .mobileClose, .mobileOpen {
          left: 0;
          height: auto;
          background-color: #333;
        }
            header.logo img {width: 35%;}
            header > button {display: none;}
}
