<!-- Header -->
<header>

    <!-- Burger Button -->
    <button [ngClass]="{burgerVertical: menuMobile, burgerHorizontal: !menuMobile}" (click)="ToggleMenuBurger()">
        <img src="assets/img/burger.svg" alt="Mobile Button (Open Menu)"/>
    </button>

    <!-- Logo -->
    <p>
        <a routerLink="/accueil" class="logo" routerLinkActive="active">
            <picture>
                <source srcset="assets/img/creamNG-logo.svg" media="(min-width: 1000px)">
                <img src="assets/img/creamNG-logo-sml.svg" alt="Logo Cream NG">
            </picture>
        </a>
    </p>

    <!-- MENU -->
    <c3m-menu [ngClass]="{mobileOpen: menuMobile, mobileClose: !menuMobile}">

        <!-- GROUP FORM ELEMENTS -->
        <c3m-menu-item nameButton="Form Element" urlImage="assets/img/formElement.svg" [index]=1 [isOpen]=false>
            <ul class="contenuMenu">
                <li (click)="ToggleMenuBurger()"><a routerLink="/button" routerLinkActive="active"> Buttons </a></li>
                <li (click)="ToggleMenuBurger()"><a routerLink="/slider" routerLinkActive="active"> Slider </a></li>
                <li (click)="ToggleMenuBurger()"><a routerLink="/step" routerLinkActive="active"> Steps </a></li>
            </ul>
        </c3m-menu-item>

        <!-- GROUP RICH COMPONENTS -->
        <c3m-menu-item nameButton="Rich Components" urlImage="assets/img/richElement.svg" [index]=2 [isOpen]=false>
            <ul class="contenuMenu">
                <li (click)="ToggleMenuBurger()"><a routerLink="/tabs" routerLinkActive="active"> Tabs </a></li>
                <li (click)="ToggleMenuBurger()"><a routerLink="/accordion" routerLinkActive="active">  Accordion </a></li>
                <li (click)="ToggleMenuBurger()"><a routerLink="/carousel" routerLinkActive="active"> Carousel </a></li>
                <li (click)="ToggleMenuBurger()"><a routerLink="/modal" routerLinkActive="active">  Modal </a></li>
                <li (click)="ToggleMenuBurger()"><a routerLink="/table" routerLinkActive="active">  Table </a></li>
                <li (click)="ToggleMenuBurger()"><a routerLink="/pagination" routerLinkActive="active">  Pagination </a></li>
            </ul>
        </c3m-menu-item>

        <!-- GROUP BLOCKS -->
        <c3m-menu-item nameButton="Blocks" urlImage="assets/img/page-layout-header.svg" [index]=3 [isOpen]=false>
            <ul class="contenuMenu">
                <li (click)="ToggleMenuBurger()"><a routerLink="/navbar" routerLinkActive="active"> Navbar </a></li>
            </ul>
        </c3m-menu-item>

        <!-- GROUP HELP -->
        <c3m-menu-item nameButton="Help" class="help" urlImage="assets/img/help-box.svg" [index]=0 [isOpen]=false>
            <ul class="contenuMenu">
                <li (click)="ToggleMenuBurger()"><a routerLink="/gettingStarted" routerLinkActive="active"> Getting Started </a></li>
            </ul>
        </c3m-menu-item>

    </c3m-menu>
</header>
