footer {
    color: #000;
    background-color: rgba(189, 186, 186, 0.2);
    padding: 1rem 5%;
}

  footer p {
    font: 0.8rem "quicksandlight", Helvetica, Arial, sans-serif;
  }


  @media screen and (min-width: 1000px) {
      .footerContent p {
        font-size: 1rem;
        text-align: right;
      }
  }
