/* Input  */
c3m-button-submit input {
    font: 1em "quicksandregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFF;
    background: rgb(105, 105, 105);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
  /* Input Hover */
  c3m-button-submit input:hover {
      opacity: 0.8;
  }
