<!-- TITLE CAROUSEL COMPONENT PAGE -->
<div class="panelTitle">
  <h2><strong>Carousel</strong> Component</h2>
  <ul>
    <li><a scrollTo href="carousel">Carousel</a></li>
    <!--<li><a href="#">Automatic Carousel</a></li>
    <li><a href="#">Images Carousel</a></li>-->
  </ul>
</div>

<!-- DESCRIPTION ACCORDION COMPONENT PAGE -->
<div class="titleComponent">
  <div class="descriptionComponent" id="carousel">
    <h3>
        <svg>
          <use xlink:href="#gitListItem"></use>
        </svg>
        Simple Carousel

        <a href="https://github.com/CreamNG/Components/tree/master/carousel" class="gitBtn" target="_blank">
          <svg>
            <use xlink:href="#gitSvg"></use>
          </svg>
          <span>Github</span></a>
      </h3>

    <div class="demo">
      <!-- CAROUSEL DEMO -->
      <c3m-carousel>

          <c3m-carousel-item [index]="0">
              <p>Slide 1</p>
          </c3m-carousel-item>

          <c3m-carousel-item [index]="1">
              <p>Slide 2</p>
          </c3m-carousel-item>

          <c3m-carousel-item [index]="2">
              <p>Slide 3</p>
          </c3m-carousel-item>

        </c3m-carousel>
    </div>

    <div class="explain">
      <dl>
        <dt>index</dt>
        <dd>Order of the slides</dd>
      </dl>
      <dl>
        <dt> p tag</dt>
        <dd>Write what you want, it's a ng-content tag</dd>
      </dl>
    </div>

    <!-- TABS SNIPPETS -->
    <c3m-tabs class="snippets">
      <c3m-tab tabTitle="HTML">
        <p class="pre-code">To call the component</p>
        <div class="code">
          <!--?prettify lang=html linenums=true?-->
          <pre class="prettyprint linenums">
              <code>
  &#x3C;c3m-carousel&#x3E;

    &#x3C;c3m-carousel-item [index]=&#x22;0&#x22;&#x3E;
        &#x3C;p&#x3E;Slide 1&#x3C;/p&#x3E;
    &#x3C;/c3m-carousel-item&#x3E;

    &#x3C;c3m-carousel-item [index]=&#x22;1&#x22;&#x3E;
        &#x3C;p&#x3E;Slide 2&#x3C;/p&#x3E;
    &#x3C;/c3m-carousel-item&#x3E;

    &#x3C;c3m-carousel-item [index]=&#x22;2&#x22;&#x3E;
        &#x3C;p&#x3E;Slide 3&#x3C;/p&#x3E;
    &#x3C;/c3m-carousel-item&#x3E;

  &#x3C;/c3m-carousel&#x3E;</code>
            </pre>
        </div>
      </c3m-tab>

      <c3m-tab tabTitle="CSS">
      </c3m-tab>

      <c3m-tab tabTitle="TypeScript">
      </c3m-tab>
    </c3m-tabs>
  </div>
</div>
