c3m-checkbox label{
  cursor: pointer;
}

/* Hide the checkbox */
c3m-checkbox.custom input[type="checkbox"]:not(:checked),
c3m-checkbox.custom input[type="checkbox"]:checked{
  position: absolute;
  left: -9999px;
}

/* move the label */
c3m-checkbox.custom input[type="checkbox"]:not(:checked) + label,
c3m-checkbox.custom input[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
}

/* Design a new checkbox */
c3m-checkbox.custom input[type="checkbox"]:not(:checked) + label:before,
c3m-checkbox.custom input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}

/* Design a new validate icon for checkbox */
c3m-checkbox.custom input[type="checkbox"]:not(:checked) + label:after,
c3m-checkbox.custom input[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0;
  left: 4px;
  font-size: 16px;
  color: #68b744;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-top: 0.2rem;
  margin-left: 0rem;
}
/* Design if checkbox isn't checked */
c3m-checkbox.custom input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

/* Design if checkbox is checked */
c3m-checkbox.custom input[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* Design if checkbox is focused */
c3m-checkbox.custom input[type="checkbox"]:checked:focus + label:before,
c3m-checkbox.custom input[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}
