  <lottie-animation-view
    [options]="lottieConfig"
    (animCreated)="handleAnimation($event)">
  </lottie-animation-view>


    <ul class="ngCreamBecause">
    <li>
        <svg viewBox="0 0 24 24" width="200" height="50">
          <use xlink:href="#htmIconSvg"></use>
        </svg>
        <h3>HTML 5</h3>
        <p>Each component has been handcrafted with love to assure it is <strong>semantic</strong> and fully <strong>standard</strong></p>
    </li>

    <li>
      <svg viewBox="0 0 24 24" width="200" height="50">
        <use xlink:href="#gitIconSvg"></use>
      </svg>
        <h3>Open source</h3>
        <p>All the components are <strong>open source</strong> and free to use on <a href="#">Github</a></p>
    </li>
    <li>
      <svg viewBox="0 0 24 24" width="200" height="50">
        <use xlink:href="#cssIconSvg"></use>
      </svg>
        <h3>CSS 3</h3>
        <p>We use all the latest CSS3 properties and features, always taking care of browser <strong>compatibility</strong></p>
    </li>
    <li>
      <svg viewBox="0 0 24 24" width="200" height="50">
        <use xlink:href="#shareIconSvg"></use>
      </svg>
        <h3>Share with community</h3>
        <p>You can <strong>fork us on Github</strong> and propose your own components</p>
    </li>
    <li>
      <svg viewBox="0 0 24 24" width="200" height="50">
        <use xlink:href="#responsiveIconSvg"></use>
      </svg>
        <h3>Responsive Design</h3>
        <p>All components were designed to be fully <strong>responsive</strong></p>
    </li>
    <li>
      <svg viewBox="0 0 24 24" width="200" height="50">
        <use xlink:href="#a11yIconSvg"></use>
      </svg>
        <h3>Accessibility</h3>
        <p>We're doing our best to create the most accessible Angular components! It is not a Javascript Framework that will stop us</p>
    </li>

    </ul>
