
    /* Welcome Title */
    .whyNgCream h2 {
        font: 2rem "quicksandbold", Helvetica, Arial, sans-serif;
        text-align: center;
        color: #333;
        padding: 2rem 1rem 0.5rem;
    }
      /* Welcome Paragraph */
      .whyNgCream {
        display: block;
        padding: 1rem;
        background-color: rgba(249, 249, 249, 0.72);
      }
        .whyNgCream p {
          text-align: center;
          font: 1.3rem/1.3 "quicksandlight", Helvetica, Arial, sans-serif;
        }
            .whyNgCream p strong{
              font-family: "quicksandbold", Helvetica, Arial, sans-serif;
              color:  #44abbc;
            }
              .whyNgCream p a{
                font-family: "quicksandbold", Helvetica, Arial, sans-serif;
                font-size: 1.1rem;
                color:  #d769a8
              }

      /* Containers with SVG icons */
      .ngCreamBecause {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin: 0 auto;
        padding-top: 1rem;
        background-color:rgba(249, 249, 249, 0.72);
        padding-bottom: 3rem;

      }
        .ngCreamBecause li{
          margin: 0 auto;
          margin-bottom: 2rem;
        }
          /* The SVG */
          .ngCreamBecause li svg {
            width: 7.9rem;
            height: 7.9rem;
            fill: #333333;
          }
            .ngCreamBecause li h3 {
              font: 1.1rem "quicksandbold", Helvetica, Arial, sans-serif;
              text-transform: uppercase;
              margin-bottom: 0.8rem;
            }
              .ngCreamBecause li p{
                  display: block;
                  margin: 0 auto;
                  width: 70%;
                  font: 1rem/1.2 "quicksandlight", Helvetica, Arial, sans-serif;
              }
                .ngCreamBecause li p strong{
                  font-family: "quicksandbold", Helvetica, Arial, sans-serif;
                  color:  #44abbc;
                }


/* BREAKPOINT */

@media screen and (min-width: 450px) {
    .ngCreamBecause li {
      width: 50%;
    }
}

/* BREAKPOINT */

@media screen and (min-width: 850px) {
    .ngCreamBecause li {
      width: 33%;
    }
}


@media screen and (min-width: 1000px) {
  .whyNgCream h2{
    font-size: 4rem;
  }
  .ngCreamBecause{
    padding-top: 4rem;
  }
  .ngCreamBecause li{
    margin-bottom: 8.6rem;
  }
}

@media screen and (min-width: 1400px) {
  lottie-animation-view > div {
    background-color: white;
  }
}

