    <div class="whyNgCream">
        <h2>What is CreamNG ?</h2>
        <p><strong>Accessible and Semantic Angular</strong> component <strong>Library</strong></p>
    </div>



    <ul class="ngCreamBecause">
    <li>
        <svg viewBox="0 0 24 24" width="200" height="50">
          <use xlink:href="#htmIconSvg"></use>
        </svg>
        <h3> HTML 5 </h3>
        <p>Each component has its own code, it is <strong>semantic</strong> and <strong>accessible</strong></p>
    </li>

    <li>
      <svg viewBox="0 0 24 24" width="200" height="50">
        <use xlink:href="#gitIconSvg"></use>
      </svg>
        <h3> open source </h3>
        <p>All the components are <strong>open source</strong> and free to use with <a href="#">GitLab</a></p>
    </li>
    <li>
      <svg viewBox="0 0 24 24" width="200" height="50">
        <use xlink:href="#cssIconSvg"></use>
      </svg>
        <h3> CSS 3 </h3>
        <p>All the latest CSS3 attributes with <strong>compatibility</strong> for each browser</p>
    </li>
    <li>
      <svg viewBox="0 0 24 24" width="200" height="50">
        <use xlink:href="#shareIconSvg"></use>
      </svg>
        <h3> Share with community </h3>
        <p>You can <strong>send us</strong> your components which will be <strong>tested</strong> before being put online</p>
    </li>
    <li>
      <svg viewBox="0 0 24 24" width="200" height="50">
        <use xlink:href="#responsiveIconSvg"></use>
      </svg>
        <h3> Responsive Design</h3>
        <p>All components are <strong>responsive</strong> (smartphone, tablet, desktop, ...)</p>
    </li>
    <li>
      <svg viewBox="0 0 24 24" width="200" height="50">
        <use xlink:href="#a11yIconSvg"></use>
      </svg>
        <h3> Accessibility</h3>
        <p>All the components are <strong>accessible </strong> with Web Content Accessibility Guidelines 2.0 (FR : RGAA)</p>
    </li>

    </ul>
