<!-- TITLE SLIDER COMPONENT PAGE -->
<div class="panelTitle">
    <h2><strong>Input</strong> Component</h2>
    <ul>
      <li><a scrollTo href="#input">Regular Input</a></li>
      <li><a scrollTo href="#input-floating">Input Floating Label</a></li>
      <li><a scrollTo href="#input-material">Input Floating Material</a></li>
    </ul>
</div>


  <!-- DESCRIPTION INPUT COMPONENT PAGE -->
  <div class="titleComponent">
    <div class="descriptionComponent" id="input">
      <h3>
        <svg>
          <use xlink:href="#gitListItem"></use>
        </svg>
        Regular Input

        <a href="https://github.com/CreamNG/Components/tree/master/input" class="gitBtn" target="_blank">
          <svg>
            <use xlink:href="#gitSvg"></use>
          </svg>

          <span>Github</span></a>
      </h3>
      <p>Regular Input (dont miss to add in a <code>form</code> tag)</p>

      <div class="demo">
        <!-- SIMPLE INPUT -->
        <c3m-input
          title="Entrez votre nom"
          placeholder="placeholder"
          name="name"
          id="name">
        </c3m-input>
      </div>

      <div class="explain">
        <dl>
          <dt>title</dt>
          <dd>The label tag</dd>
        </dl>
        <dl>
          <dt>placeholder</dt>
          <dd>Placeholder value (optional)</dd>
        </dl>
      </div>

      <!-- TABS SNIPPETS -->
      <c3m-tabs class="snippets">
        <c3m-tab tabTitle="HTML">
          <p class="pre-code">To call the component</p>
          <div class="code">
             <!--?prettify lang=html linenums=true?-->
              <pre class="prettyprint linenums">
&lt;!-- SIMPLE INPUT --&gt;
&lt;c3m-input
  title=&#34;Entrez votre nom&#34;
  placeholder=&#34;placeholder&#34;
  name=&#34;name&#34;
  id=&#34;name&#34;&gt;
&lt;/c3m-input&gt;

              </pre>
          </div>
        </c3m-tab>

        <c3m-tab tabTitle="CSS">
        </c3m-tab>

        <c3m-tab tabTitle="TypeScript">
        </c3m-tab>

      </c3m-tabs>
    </div>
  </div>


  <!-- INPUT FLOATING LABEL -->
  <div class="titleComponent">
      <div class="descriptionComponent" id="input-floating">
        <h3>
          <svg>
            <use xlink:href="#gitListItem"></use>
          </svg>
          Input Floating Label

          <a href="https://github.com/CreamNG/Components/tree/master/input-floating" class="gitBtn" target="_blank">
            <svg>
              <use xlink:href="#gitSvg"></use>
            </svg>

            <span>Github</span></a>
        </h3>

        <p>Input with a Floating Label <code>bottom</code></p>

        <div class="demo">
          <!-- FLOATING BOTTOM INPUT -->
          <c3m-input-floating
            title="Entrez votre nom"
            floating="bottom"
            name="name1"
            id="name1">
          </c3m-input-floating>
        </div>

          <p>Input with a Floating Label <code>right</code></p>

        <div class="demo">
            <c3m-input-floating
              title="Entrez votre nom"
              floating="right"
              name="name2"
              id="name2">
            </c3m-input-floating>
        </div>


        <div class="explain">
          <dl>
            <dt>title</dt>
            <dd>The label tag</dd>
          </dl>
          <dl>
            <dt>placeholder</dt>
            <dd>Placeholder value 'bottom', 'right' or 'top' </dd>
          </dl>
        </div>

        <!-- TABS SNIPPETS -->
        <c3m-tabs class="snippets">
          <c3m-tab tabTitle="HTML">
            <p class="pre-code">To call the component</p>
            <div class="code">
               <!--?prettify lang=html linenums=true?-->
                <pre class="prettyprint linenums">
&lt;!-- FLOATING BOTTOM INPUT --&gt;
&lt;c3m-input-floating
  title=&#34;Entrez votre nom&#34;
  floating=&#34;bottom&#34;
  name=&#34;name1&#34;
  id=&#34;name1&#34;&gt;
&lt;/c3m-input-floating&gt;

&lt;!-- FLOATING RIGHT INPUT --&gt;
&lt;c3m-input-floating
  title=&#34;Entrez votre nom&#34;
  floating=&#34;right&#34;
  name=&#34;name1&#34;
  id=&#34;name1&#34;&gt;
&lt;/c3m-input-floating&gt;

                </pre>
            </div>
          </c3m-tab>

          <c3m-tab tabTitle="CSS">
          </c3m-tab>

          <c3m-tab tabTitle="TypeScript">
          </c3m-tab>

        </c3m-tabs>
      </div>
    </div>


    <!-- INPUT MATERIAL FLOATING LABEL -->
      <div class="titleComponent">
    <div class="descriptionComponent" id="input-material">
      <h3>
        <svg>
          <use xlink:href="#gitListItem"></use>
        </svg>
        Input Material Floating

        <a href="https://github.com/CreamNG/Components/tree/master/input-material" class="gitBtn" target="_blank">
          <svg>
            <use xlink:href="#gitSvg"></use>
          </svg>

          <span>Github</span></a>
      </h3>
      <p>Input Material Like (dont miss to add in a <code>form</code> tag)</p>

      <div class="demo">
        <!-- Input Material -->
        <c3m-input-material
          title="Entrez votre nom"
          placeholder="placeholder3"
          name="name3"
          id="name3">
        </c3m-input-material>
      </div>

      <div class="explain">
        <dl>
          <dt>title</dt>
          <dd>The label tag</dd>
        </dl>
        <dl>
          <dt>placeholder</dt>
          <dd>Placeholder value (optional)</dd>
        </dl>
      </div>

      <!-- TABS SNIPPETS -->
      <c3m-tabs class="snippets">
        <c3m-tab tabTitle="HTML">
          <p class="pre-code">To call the component</p>
          <div class="code">
             <!--?prettify lang=html linenums=true?-->
              <pre class="prettyprint linenums">
&lt;!-- Input Material --&gt;
&lt;c3m-input-material
  title=&#34;Entrez votre nom&#34;
  placeholder=&#34;placeholder3&#34;
  name=&#34;name3&#34;
  id=&#34;name3&#34;&gt;
&lt;/c3m-input-material&gt;

              </pre>
          </div>
        </c3m-tab>

        <c3m-tab tabTitle="CSS">
        </c3m-tab>

        <c3m-tab tabTitle="TypeScript">
        </c3m-tab>

      </c3m-tabs>
    </div>
  </div>



