<!-- TITLE PAGINATION COMPONENT PAGE -->
<div class="panelTitle">
  <h2><strong>Pagination</strong> Component</h2>
  <ul>
    <li><a scrollTo href="pagination">Pagination</a></li>
  </ul>
</div>

<!-- DESCRIPTION PAGINATION COMPONENT PAGE -->
<div class="titleComponent">
  <div class="descriptionComponent" id="pagination">

    <h3>
      <svg>
        <use xlink:href="#gitListItem"></use>
      </svg>
      Pagination

      <a href="https://github.com/CreamNG/Components/tree/master/pagination" class="gitBtn" target="_blank">
        <svg>
          <use xlink:href="#gitSvg"></use>
        </svg>
        <span>Github</span></a>
  </h3>


  <p>A simple page pagination.</p>

    <div class="demo">
      <!-- Pagination Demo -->
      <c3m-pagination></c3m-pagination>
    </div>
    <div class="explain">
        <dl>
          <dt>pageSize</dt>
          <dd>allows you to change the value of items per page
            (You will need to download <em><a href="https://github.com/CreamNG/Components/blob/master/pagination/pager.service.ts" target="_blank">pager.service.ts</a></em> service)</dd>
        </dl>
    </div>

    <!-- TABS SNIPPETS -->
    <c3m-tabs class="snippets">
      <c3m-tab tabTitle="HTML">
        <p class="pre-code">To call the component</p>
        <div class="code">
          <!--?prettify lang=html linenums=true?-->
          <pre class="prettyprint linenums">
  &#x3C;c3m-pagination&#x3E;&#x3C;/c3m-pagination&#x3E;
                    </pre>
        </div>
      </c3m-tab>

      <c3m-tab tabTitle="CSS">
      </c3m-tab>

      <c3m-tab tabTitle="TypeScript">
      </c3m-tab>

    </c3m-tabs>
  </div>
</div>
