
/* Step List */
c3m-step ol {
  clear: both;
  counter-reset: step;
  padding: 0.5rem;
}
  /* Step List Item */
  c3m-step ol li {
    list-style-type: none;
    font-size: 0.9em;
    background: #585454;
    text-align: center;
    display: inline-block;
    padding: 0.4rem 1.2rem;
    margin-bottom:1rem;
  }
  /* Step List Item Number */
    c3m-step ol li::before {
      width: 1.5rem;
      height: 1.5rem;
      line-height: 1.5rem;
      font-size: 1.2em;
      content: counter(step);
      counter-increment: step;
      text-align: center;
      border-radius: 1.5em;
      display: block;
      margin: 0 auto 0.6rem auto;
    }

    /* FUTURE */
    c3m-step ol li.future {
      color: rgba(99, 224, 49, 0.6);
      background-color: gray;
    }
      c3m-step ol li.future::before {
        color: white;
        background: rgba(99, 224, 49, 0.6);

      }

    /* ACTIVE */
    c3m-step ol li.active {
      color: #44abbc;
    }
      c3m-step ol li.active::before {
        color: white;
        background: #44abbc;
      }

      /* PAST */
      c3m-step ol li.past {
        color: #ed9c20;
      }
        c3m-step ol li.past::before {
          color: white;
          background: #ed9c20;
        }


/* BREAKPOINT */

c3m-step ol.over li {
  width:100%;
  text-align: left;
  display: block;
  padding: 0.5rem;
}
  c3m-step ol.over li:before{
    display: inline-block;
    margin: 0;
  }
