c3m-tabs.presentationTabV > div > ul > li {
      margin-right: 0.3rem;
      background-color: rgba(224, 161, 64, 1);
}
 c3m-tabs.presentationTabV > div > ul > li.disabled{
  background-color: rgba(224, 161, 64, 0.70);
 }
  c3m-tabs.presentationTabV > div > ul > li.active {
    background-color: #44abbc;
  }
    c3m-tabs.presentationTabV > div > ul > li > a {
        color: white;
        font: 0.9rem "quicksandlight";
        padding: 0.5rem 0.6rem;
    }


c3m-tabs.presentationTabV > div{
    margin-bottom: 2.5rem;
    width: 90%;
}
  c3m-tabs.presentationTabV > div div.content[aria-hidden="false"] {
      background-color: #44abbc;
      padding-top: 1.1rem;
      font: 0.9rem "quicksandlight";
      color:white;
  }
    c3m-tabs.presentationTabV>div>ul button{
        color:white;
    }


@media screen and (min-width:850px){

  c3m-tabs.presentationTabV > div{
    margin-bottom: 2.5rem;
  }
    c3m-tabs.presentationTabV > div div.content[aria-hidden="false"] {
      font-size:1rem;
    }
      c3m-tabs.presentationTabV > div > ul > li > a {
        font-size: 1rem;
      }
}
