.menu-group.closed > .panel-collapse {display: none;}

c3m-menu-item > li {
      color: #000;
      border-top: 1px solid rgba(255,255,255,.5);
    }
      c3m-menu-item > li > button {
          height: 100%;
          width: 100%;
          line-height: 1.7rem;
          font-size: 1rem;
          text-align: left;
          color: #EEE;
          background-color: initial;
          padding: 1rem;
          cursor:pointer;
      }
      c3m-menu-item > li > button:hover, c3m-menu-item > li > button:active, c3m-menu-item > li > button:focus {
        color: #333;
        background-color: #EEE;
      }
      c3m-menu-item.help > li > button {
          color: #45ABBC;
      }
        c3m-menu-item > li > button img {
          height: 1.7rem;
          margin-right: 0.7rem;
        }
        .contenuMenu li {
          padding: 0 0 0.4rem 1rem;
          font: 1rem/1 "robotolight", Helvetica, Arial, sans-serif;
        }
        .contenuMenu li:first-child {margin-top: 0.5em;}

        .contenuMenu li a {
          display: block;
          width: 80%;
          font-size: 0.9rem;
          text-align: left;
          background-color: initial;
          padding: 0.5rem 0 0.5rem 1rem;
          cursor: pointer;
        }
        .contenuMenu li a:hover, .contenuMenu li a:active, .contenuMenu li a:focus {
          color: #333;
          background-color: #EEE;
        }
