<!-- TITLE TABLE COMPONENT PAGE -->
<div class="panelTitle">
  <h2><strong>Table</strong> Component</h2>
  <ul>
    <li><a scrollTo href="table">Responsive row</a></li>
  </ul>
</div>


<!-- DESCRIPTION TABLE COMPONENT PAGE -->
<div class="titleComponent">
  <div class="descriptionComponent" id="table">
    <h3>
        <svg>
          <use xlink:href="#gitListItem"></use>
        </svg>
        Responsive | Row Table

        <a href="https://github.com/CreamNG/Components/tree/master/table" class="gitBtn" target="_blank">
          <svg>
            <use xlink:href="#gitSvg"></use>
          </svg>
          <span>Github</span></a>
    </h3>

    <div class="explain">
      <p>A fully responsive table suitable for when it makes sense to consult rows independently.</p>
      <p>Please, note that this component uses <code>max-width</code> breakpoint; this makes the "transformation"
        of the data easier and less verbose.</p>
    </div>

    <div class="demo">
        <!-- TABLE DEMO -->
        <c3m-column-table></c3m-column-table>
    </div>

    <div class="explain">
      <dl>
        <dt>title class</dt>
        <dd>Necessary to make the table responsive</dd>
      </dl>
      <dl>
        <dt>col scope</dt>
        <dd>Necessary to make the table responsive</dd>
      </dl>
    </div>

    <!-- TABS SNIPPETS -->
    <c3m-tabs class="snippets">
      <c3m-tab tabTitle="HTML">
        <p class="pre-code">To call the component</p>
        <div class="code">
          <!--?prettify lang=html linenums=true?-->
          <pre class="prettyprint linenums">
  &#x3C;c3m-column-table&#x3E;&#x3C;/c3m-column-table&#x3E;
          </pre>
        </div>
      </c3m-tab>

      <c3m-tab tabTitle="CSS">
      </c3m-tab>

      <c3m-tab tabTitle="TypeScript">
      </c3m-tab>
    </c3m-tabs>

  </div>
</div>
