c3m-select label{
  display: block;
  margin-bottom: 0.3rem;
}
c3m-select select{
  display: block;
  width: 40%;
  min-width: 230px;
  font-size: 1.1rem;
  font-family: 'quicksandregular';
  padding: 0.2rem 0.1rem;
}
