<!-- TITLE MODAL COMPONENT PAGE -->
<div class="panelTitle">
  <h2><strong>Fieldset</strong> Component</h2>
  <ul>
      <li><a scrollTo href="fieldset">Normal Fieldset </a></li>
  </ul>
</div>


<!-- DESCRIPTION ACCORDION COMPONENT PAGE -->
<div class="titleComponent">
  <div class="descriptionComponent" id="fieldset">
      <h3>
          <svg>
            <use xlink:href="#gitListItem"></use>
          </svg>
          Fieldset

          <a href="https://github.com/CreamNG/Components/tree/master/fieldset" class="gitBtn" target="_blank">
            <svg>
              <use xlink:href="#gitSvg"></use>
            </svg>
            <span>Github</span></a>
      </h3>

      <p>Fieldset - Call in a <code>Form </code> tag. It contains inputs, select, radio button...</p>

      <div class="demo">
          <c3m-fieldset legend="fieldset">
            This is the content of my Fieldset
          </c3m-fieldset>
      </div>

      <div class="explain">
           <dl>
              <dt>legend</dt>
              <dd>legend of the fieldset</dd>
            </dl>
      </div>

      <!-- TABS SNIPPETS -->
    <c3m-tabs class="snippets">
        <c3m-tab tabTitle="HTML">
          <p class="pre-code">To call the component</p>
          <div class="code">
            <!--?prettify lang=html linenums=true?-->
            <pre class="prettyprint linenums">
  &lt;c3m-fieldset legend=&#34;fieldset&#34;&gt;
    This is the content of my Fieldset
  &lt;/c3m-fieldset&gt;
              </pre>
          </div>
        </c3m-tab>

        <c3m-tab tabTitle="CSS">
        </c3m-tab>

        <c3m-tab tabTitle="TypeScript">
        </c3m-tab>

      </c3m-tabs>
</div>
</div>
