<!-- TITLE SLIDER COMPONENT PAGE -->
<div class="panelTitle">
  <h2> <strong> Slider </strong> Component </h2>
  <ul>
    <li><a scrollTo href="nrmAccordion">Normal Slider</a></li>
  </ul>
</div>


<!-- DESCRIPTION ACCORDION COMPONENT PAGE -->
<div class="titleComponent">
  <div class="descriptionComponent" id="nrmAccordion">
    <h3> Normal Slider <a href="https://github.com/CreamNG/Components/tree/master/slider" class="gitBtn" target="_blank"><img src="assets/img/github-box.svg" alt="download on github"><span>Github</span></a> </h3>
    <p> ... </p>

  </div>
</div>
