
/* Label styled as a button */
c3m-checkbox-group-button label {
    width: 7em;
    display: inline-block;

  }

  /* Style of Button */
  c3m-checkbox-group-button label span {
    text-align:center;
    padding:3px 0px;
    display:block;
    border: 1px solid #73716e;
    cursor: pointer;
  }

  /* Hover */
  c3m-checkbox-group-button label span:hover{
    background-color: #eafcff;
  }

  /* Hide Input */
  c3m-checkbox-group-button label input {
    display: none;
  }

  /* Style of Button is Checked */
  c3m-checkbox-group-button input:checked + span {
    background-color: #44abbc;
    padding: calc(3px + 1px) 1px;
    color: #fff;
    border: none;
  }
