c3m-calendar div > label{
  display: block;
  font-size: 1.1rem;
}
c3m-calendar div > input{
  display: inline-block;
  font-size: 0.9rem;
  line-height: 1.3rem;
  padding-left: 0.3rem;
}
c3m-calendar div > button{
  display: inline-block;
  color: white;
  background-color: #45ABBC;
  font-size: 1rem;
  padding: 0.2rem;
  border: none;
  cursor :pointer;
}
  c3m-calendar button:hover {
    opacity: 0.8;
  }

c3m-calendar .datepicker {
  margin: 0.5rem;
  position: absolute;
  width: 250px;
  background-color: #fff;
  border: none;
  border-radius: 3px;
}
c3m-calendar div#month-wrap {
  height: 2.3rem;
  background-color: #45ABBC;
  border-radius: 3px 3px 0 0;
  color: white;
}
  c3m-calendar div#month-wrap strong {
    display: inline-block;
    margin-top: 0.6rem;
    text-align: center;
    width: 11rem;
  }
  c3m-calendar div#month-wrap > button{
    height: 2.3rem;
    width: 2.3rem;
    background-color: initial;
    cursor: pointer;
  }
c3m-calendar #bn_prev {
  float: left;
}
c3m-calendar #bn_next {
  float: right
}
c3m-calendar table thead{
  margin-top: 2rem;
  line-height: 2.2rem;
}

c3m-calendar button svg {
  height: 1.2rem;
  width: 1.7rem;
  background-color: #45abbc;
  fill: white;
}

c3m-calendar div#month {
  float: left;
  padding-top: 6px;
  width: 199px;
  height: 24px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}
c3m-calendar tbody#cal {
  width: 261px;
  font-size: 1.2em;
  text-align: center;
}

/* THE CELLS */
c3m-calendar table th,
c3m-calendar table td {
  width: 35px;
  height: 35px;
  padding: 0;
  text-align: center;
  line-height: 2rem;
  color: #212121;
}
  c3m-calendar table th abbr{
    text-decoration: none;
  }
  c3m-calendar table td {
    background-color: #ED9C21;
    border: 1px solid #eee;
  }
  c3m-calendar table td.today {
    background-color: #2b95a7;
    border: 1px solid #eee;
    color:white;
  }

c3m-calendar table{
  border-collapse: collapse;
  border-spacing: 1px;
  width: 100%;
}
c3m-calendar table td.empty {
  background-color: rgb(105, 105, 105);
  border: 1px solid #eee;
}

c3m-calendar table td:hover,
c3m-calendar table td.focus {
  border-color: white;
  opacity :0.8;
  cursor: pointer;
}

c3m-calendar .offscreen {
  position: absolute;
  left: -200em;
  top: -100em;
}

c3m-calendar [aria-hidden="true"] {
  display: none;
}
