<!-- TITLE TOAST COMPONENT PAGE -->
<div class="panelTitle">
  <h2>
    <strong> Toast </strong> Component </h2>
  <ul>
    <li>
      <a href="#toast">Floating Toast</a>
    </li>
  </ul>
</div>


<!-- DESCRIPTION TOAST COMPONENT PAGE -->
<div class="titleComponent">
  <div class="descriptionComponent" id="toast">

    <h3>
      <svg>
        <use xlink:href="#gitListItem"></use>
      </svg>
      Floating Toast

      <a href="https://github.com/CreamNG/Components/tree/master/toast" class="gitBtn" target="_blank">
        <svg>
          <use xlink:href="#gitSvg"></use>
        </svg>

        <span>Github</span>
      </a>
    </h3>
    <p>A toast appears course moment ion the interface and disappears </p>
    <p>Change the <strong>active</strong> value with a click event (use <code>ViewChild</code> on <code>#Toast)</code></p>


    <div class="demo">
      <c3m-button (click)="openToast()" ngClass="info"> Display Toast </c3m-button>
      <!-- TOAST DEMO -->
      <c3m-toast #toast delay="2500">
        I'm a toast !
      </c3m-toast>
    </div>

    <div class="explain">
      <dl>
        <dt>active</dt>
        <dd>For displaying the toast </dd>
      </dl>
      <dl>
          <dt>delay</dt>
          <dd>delay before toast dissapears</dd>
        </dl>

    </div>


    <!-- TABS SNIPPETS -->
    <c3m-tabs class="snippets">
      <c3m-tab tabTitle="HTML">
        <p class="pre-code"> To call the component </p>
        <div class="code">
          <!--?prettify lang=html linenums=true?-->
          <pre class="prettyprint linenums">
              <code>
  &lt;!-- TOAST DEMO --&gt;
  &lt;c3m-toast #toast delay=&#34;2500&#34;&gt;
    I&apos;m a toast !
  &lt;/c3m-toast&gt;
              </code>
            </pre>
        </div>
      </c3m-tab>
      <c3m-tab tabTitle="CSS">

      </c3m-tab>
      <c3m-tab tabTitle="TypeScript">

      </c3m-tab>
    </c3m-tabs>

  </div>

</div>
