<!-- COMPONENT PAGE HEADER FOR GETTING STARTED-->
<div class="panelTitle">
    <h2> <strong> Getting Started </strong> </h2>
    <ul>
        <li><a scrollTo href="#install">Install Angular</a></li>
        <li><a scrollTo href="#create">Create Project</a></li>
        <li><a scrollTo href="#start">Start Project</a></li>
        <li><a scrollTo href="#creamng">Import CreamNG</a></li>
    </ul>
</div>


  <div class="HowInstallAngular">

            <!-- ANGULAR 2 INSTALL -->
            <div class="stepGS">
                <h2 id="install"> How to install Angular 2 ?</h2>

                <ul class="instructions">
                    <li>
                        <h3>First Step</h3>
                        <p>The first Step is to download <a href="https://nodejs.org/en/">Node.js</a> to use <strong> npm </strong></p>
                        <p>Npm is the <strong>package manager</strong> forJavaScript and the world’s largest software registry</p>
                    </li>

                    <li>
                        <h3>Install NPM</h3>
                        <p><em>If you don't have the last version of Npm, you can download it with this command :</em></p>
                        <code>npm install npm@latest -g</code>
                    </li>

                    <li>
                        <h3>Install Angular</h3>
                        <p>The second Step is to download <strong>Angular-Cli </strong> with npm</p>
                        <p>Angular-Cli is a <strong>command line </strong> interface for Angular. It allows to use</p>
                        <code>ng new</code>
                        <code>ng generate</code>
                        <code>ng serve</code>
                    </li>

                    <li>
                        <h3>Update</h3>
                        <p>To get the last Andular-Cli version</p>
                        <code>npm install -g angular-cli@latest</code>
                    </li>
                </ul>

            </div>

            <!-- CREATE A PROJECT -->
            <div class="stepGS">
                <h2 id="create"> How to create your project ?</h2>

                <ul class="instructions">
                    <li>
                        <h3>New Project</h3>
                        <p> To create a <strong>new project</strong>, write this command :</p>
                        <code>ng new angular-app-name</code>
                    </li>

                    <li>
                        <h3>New Project with SASS</h3>
                        <p>If you want an Angular project that use <strong>SASS</strong>, write this command :</p>
                        <code>ng new angular-app-name --style = scss</code>
                    </li>

                    <li>
                        <h3>New Component</h3>
                        <p>To create a component, use : </p>
                        <code>ng generate component my-component-name</code>
                        <p>You can use <strong>ng generate</strong> or just <abbr title="generate">ng g</abbr></p>
                    </li>

                    <li>
                        <p> The others <strong>ng g</strong> attributes are :</p>
                        <code>ng g component</code>
                        <code>ng g directive</code>
                        <code>ng g pipe</code>
                        <code>ng g service</code>
                        <code>ng g class</code>
                        <code>ng g guard</code>
                        <code>ng g interface</code>
                        <code>ng g enum</code>
                        <code>ng g module</code>
                    </li>
                </ul>

            </div>


            <!-- START ANGULAR 2 PROJECT -->
            <div class="stepGS">
                <h2 id="start"> How to start your project ?</h2>

                <ul class="instructions">
                    <li>
                        <h3>Git Import </h3>
                        <p>If you get your project with <a href="https://github.com/">Github</a>, the folder doesn't contains an <strong>node-modules</strong> folder.</p>
                        <p>To download it, write this command :</p>
                        <code>npm install</code>
                    </li>

                    <li>
                        <h3>Start Project</h3>
                        <p> To test your project, use : </p>
                        <code>ng serve</code>
                    </li>
                </ul>
            </div>


            <!-- CREAM NG -->
            <div class="stepGS">
                <h2 id="creamng"> How to import CreamNG into your project ?</h2>

                <ul class="instructions">
                    <li>
                        <h3> Installation </h3>
                        <p>Install via <a href="https://www.npmjs.com/">npm</a> :</p>
                        <code>npm install creamng</code>
                    </li>

                    <li>
                        <h3>Import Me !</h3>
                        <p> Then Include the CreamNG module in your app root module</p>
                        <code>import &#123; CreamNgModule &#125; from 'creamng'; </code>
                    </li>
                </ul>
            </div>
    </div>
