/* Parent Container */
.HowInstallAngular{
    background-color: #3940385c;
    padding: 4vh 5%;
}
  /* Childs Containers */
  .stepGS{
    background-color: #f5f5f5;
    padding: 2vh 2%;
    margin-bottom: 4vh;
  }

  /* INLINE TAGS */
  .HowInstallAngular h2{
      display: block;
      font: 1.5rem "quicksandbold";
      color: #4eb51f;
  }
    .HowInstallAngular h3{
      font: 1.2rem "quicksandbold";
      margin-bottom: 1vh;
    }
    .HowInstallAngular p{
      display:block;
    }
      .HowInstallAngular ul{
        margin: 2vh 0;
      }
       .HowInstallAngular ul li{
         margin-bottom: 2vh;
       }
        .HowInstallAngular a{
          color: #d769a8;
          font: 1rem "quicksandbold";
          text-decoration: underline;
          line-height: 1.2rem;
        }
          .HowInstallAngular strong{
            color: #39aec1;
            font: 1rem "quicksandbold";
            line-height: 1.2rem;
          }
            .HowInstallAngular code{
              margin: 1vh 0;
              display: inline-block;
              background-color: white;
              width: auto;
              padding: 0.5rem 1rem;
              font: 1rem "Courrier New", Courier, monospace;
              border-radius: 3px;
              white-space: pre-wrap;
              word-wrap: break-word;
            }
