
<!-- TITLE NAVBAR COMPONENT PAGE -->
<div class="panelTitle">
  <h2> <strong> Navbar </strong> Component </h2>
  <ul>
    <li><a scrollTo href="#nrmNav">Normal Navbar</a></li>
    <li><a scrollTo href="#fixedTopNav">Fixed Top </a></li>
  </ul>
</div>


<!-- DESCRIPTION NAVBAR COMPONENT PAGE -->
<div class="titleComponent">
  <div class="descriptionComponent" id="nrmNav">
    <h3>
      <svg>
        <use xlink:href="#gitListItem"></use>
      </svg>
      Normal Navbar

      <a href="https://github.com/CreamNG/Components/tree/master/navbar" class="gitBtn" target="_blank">
        <svg>
          <use xlink:href="#gitSvg"></use>
        </svg>

        <span>Github</span></a>
  </h3>

    <p> Its' a navbar with a burger button, links and dropdown</p>

    <div class="demo">
      <!-- NAVBAR -->
      <c3m-navbar></c3m-navbar>
    </div>

    <div class="explain">
      <dl>
        <dt>SVG</dt>
        <dd>Change the PATH value to change logo/arrow/burger</dd>
      </dl>
      <dl>
        <dt>In li #navItems</dt>
        <dd>create a "a" tag to create a normal link </dd>
      </dl>
      <dl>
        <dt>In li #navItems</dt>
        <dd>create a "c3m-dropdown Component" to create a dropdown </dd>
      </dl>
      <dl>
        <dt>Dropdown</dt>
        <dd>need a "name" and "dropdown items" component</dd>
      </dl>
      <dl>
        <dt>Dropdown Item</dt>
        <dd>need a route as routerLink and "name"</dd>
      </dl>
    </div>


      <!-- TABS SNIPPETS -->
      <c3m-tabs>
          <c3m-tab tabTitle="HTML">
              <p class="pre-code"> To call the component </p>
              <div class="code">
                  <!--?prettify lang=html linenums=true?-->
                  <pre class="prettyprint linenums">
                      <code>
                         &#x3C;!-- NAVBAR --&#x3E;
                        &#x3C;c3m-navbar&#x3E; &#x3C;/c3m-navbar&#x3E;
                      </code>
                  </pre>
              </div>
              <p class="pre-code"> For <strong>navbar.component.html</strong> </p>
              <div class="code">
                  <!--?prettify lang=html linenums=true?-->
                  <pre class="prettyprint linenums">
              <code>
                      &#x3C;!-- Navbar --&#x3E;
                        &#x3C;nav&#x3E;

                          &#x3C;a routerLink=&#x22;#&#x22; class=&#x22;skip&#x22; alt=&#x22;go to main content (skip the menu)&#x22;&#x3E; go to main content &#x3C;/a&#x3E;

                          &#x3C;!-- Burger Button --&#x3E;
                          &#x3C;button class=&#x22;burgerbtn&#x22; [attr.aria-expanded]=&#x22;isOpen&#x22; [attr.aria-selected]=&#x22;isOpen&#x22;
                                        [ngClass]=&#x22;&#123;over: isOver, isOpen: isOpen&#125;&#x22; title=&#x22;burger button&#x22; (click)=&#x27;toggleBurger()&#x27;&#x3E;
                              &#x3C;img src=&#x22;assets/img/burger.svg&#x22; alt=&#x22;burger button&#x22;/&#x3E;
                          &#x3C;/button&#x3E;

                            &#x3C;!-- Logo --&#x3E;
                            &#x3C;a [ngClass]=&#x22;&#123;over: isOver&#125;&#x22; #navItems routerLink=&#x22;#&#x22;
                                 routerLinkActive=&#x22;active&#x22; title=&#x22;Logo&#x22; class=&#x22;logo&#x22;&#x3E;

                                &#x3C;img src=&#x22;assets/img/logoExample.png&#x22; alt=&#x22;Logo&#x22;&#x3E;
                            &#x3C;/a&#x3E;

                            &#x3C;!-- LINK LIST --&#x3E;
                                &#x3C;ul class=&#x22;navbarItems&#x22; [ngClass]=&#x22;&#123;over: isOver, isOpen: isOpen&#125;&#x22; &#x3E;

                                    &#x3C;!-- DROPDOWN --&#x3E;
                                    &#x3C;li #navItems&#x3E;
                                        &#x3C;c3m-dropdown type=&#x22;bottom&#x22; name=&#x22;Item 1&#x22;&#x3E;

                                              &#x3C;c3m-dropdown-item route=&#x22;#&#x22; name=&#x22;Menu Item 1-1&#x22;&#x3E;&#x3C;/c3m-dropdown-item&#x3E;
                                              &#x3C;c3m-dropdown-item route=&#x22;#&#x22; name=&#x22;Menu Item 1-2&#x22;&#x3E;&#x3C;/c3m-dropdown-item&#x3E;
                                              &#x3C;c3m-dropdown-item route=&#x22;#&#x22; name=&#x22;Menu Item 1-3&#x22;&#x3E;&#x3C;/c3m-dropdown-item&#x3E;

                                        &#x3C;/c3m-dropdown&#x3E;
                                    &#x3C;/li&#x3E;

                                    &#x3C;!-- DROPDOWN --&#x3E;
                                    &#x3C;li #navItems&#x3E;
                                        &#x3C;c3m-dropdown type=&#x22;bottom&#x22; name=&#x22;Item 2&#x22;&#x3E;

                                            &#x3C;c3m-dropdown-item route=&#x22;#&#x22; name=&#x22;Menu Item 2-1&#x22;&#x3E;&#x3C;/c3m-dropdown-item&#x3E;
                                            &#x3C;c3m-dropdown-item route=&#x22;#&#x22; name=&#x22;Menu Item 2-2&#x22;&#x3E;&#x3C;/c3m-dropdown-item&#x3E;
                                            &#x3C;c3m-dropdown-item route=&#x22;#&#x22; name=&#x22;Menu Item 2-3&#x22;&#x3E;&#x3C;/c3m-dropdown-item&#x3E;

                                        &#x3C;/c3m-dropdown&#x3E;
                                    &#x3C;/li&#x3E;

                                    &#x3C;!-- SIMPLE LINK --&#x3E;
                                    &#x3C;li #navItems&#x3E;&#x3C;a routerLink=&#x22;#&#x22; routerLinkActive=&#x22;active&#x22;&#x3E;Item 3&#x3C;/a&#x3E;&#x3C;/li&#x3E;

                                &#x3C;/ul&#x3E;

                        &#x3C;/nav&#x3E;

              </code>
            </pre>
              </div>
              <p class="pre-code"> For <strong>dropdown.component.html</strong> </p>
              <div class="code">
                  <!--?prettify lang=html linenums=true?-->
                  <pre class="prettyprint linenums">
              <code>
                      &#x3C;!-- Button for Open Dropdown --&#x3E;
                        &#x3C;button [ngClass]=&#x22; &#123;isOpen: isOpen&#125;&#x22; (click)=&#x22;openDropdown()&#x22;
                                [attr.aria-expanded]=&#x22;isOpen&#x22;  [attr.aria-selected]=&#x22;isOpen&#x22;&#x3E;
                           &#123; &#123; this.name &#125;&#125;
                        &#x3C;/button&#x3E;

                        &#x3C;!-- Links List --&#x3E;
                        &#x3C;ul [ngClass]=&#x22; &#123;isOpen: isOpen&#125;&#x22; [attr.aria-hidden]=&#x22;!isOpen&#x22; class=&#x22;dropdownContent&#x22;&#x3E;
                          &#x3C;li *ngFor=&#x22;let item of items&#x22;&#x3E;
                            &#x3C;a [routerLink]=item.route routerLinkActive=&#x22;active&#x22;&#x3E;  &#123; &#123; item.name &#125;&#125;&#x3C;/a&#x3E;
                          &#x3C;/li&#x3E;
                        &#x3C;/ul&#x3E;

              </code>
            </pre>
              </div>


          </c3m-tab>
          <c3m-tab tabTitle="CSS">
              <p class="pre-code"> To call the component </p>
              <div class="code">
                  <!--?prettify lang=css linenums=true?-->
                  <pre class="prettyprint linenums">
              <code>

                    /* NAVBAR */
                    c3m-navbar nav&#123;
                        background-color: #545454;
                        padding: 0.9rem 1.1rem;
                        position:relative;
                        margin-bottom: 14.3rem;
                    &#125;

                    /* NAVBAR LINK */
                    c3m-navbar .navbarItems&#123;
                        display:inline-block;
                        line-height: 2.6rem;
                        transition: left 0.5s;
                    &#125;
                        c3m-navbar .navbarItems a &#123;
                            color: white;
                        &#125;
                              c3m-navbar .navbarItems a:hover&#123;
                                  text-decoration: underline;
                              &#125;
                                    c3m-navbar .navbarItems &#x3E; li &#123;
                                               display: inline-block;
                                               padding: 0 1.5rem;
                                               color: white;
                                    &#125;
                    /* LOGO */
                    c3m-navbar .logo&#123;
                        display:inline-block;
                        height: 2.6rem;
                    &#125;

                            /* NAVBAR ITEMS */
                            c3m-navbar .navbarItems.over &#123;
                                position: absolute;
                                top: 0;
                                left: -100%;
                                background-color: #8c8e8c;
                            &#125;
                                c3m-navbar .navbarItems.over.isOpen&#123;
                                    left:0;
                                &#125;
                                    c3m-navbar .navbarItems.over li &#123;
                                        display:block;
                                    &#125;
                                        c3m-navbar .logo.over&#123;
                                            position: absolute;
                                            left: 50%;
                                        &#125;

                    /* DROPDOWN ITEM */
                    c3m-dropdown[type=&#x22;bottom&#x22;] ul&#123;
                        position: absolute;
                        top: 100%;
                        background-color: lightslategray;
                        padding: 0.5rem;
                        transform: scale(0);
                        transition: transform 0.2s;
                    &#125;
                        c3m-dropdown[type=&#x22;bottom&#x22;] ul.isOpen&#123;
                            transform: scale(1);
                        &#125;
                            c3m-dropdown &#x3E; button&#123;
                                background: initial;
                                color: white;
                                cursor:pointer;
                            &#125;

                              c3m-dropdown &#x3E; button::after&#123;
                                  content:&#x22;&#x22;;
                                  width:1rem;
                                  height:1rem;
                                  display:inline-block;
                                  vertical-align: sub;
                                  margin-left: 0.3rem;
                                  transition:transform 0.3s;
                                  background: url(arrow-down-bold_white.svg) no-repeat right;
                              &#125;
                                    c3m-dropdown &#x3E; button.isOpen::after&#123;
                                        transform: rotate(180deg);
                                    &#125;
                                     c3m-dropdown &#x3E; button:hover&#123;
                                         font-weight:bold;
                                     &#125;
                                    .navbarItems.over c3m-dropdown .dropdownContent li&#123;
                                            font: 1rem &#x22;quicksanditalic&#x22;;
                                        margin:0.6rem 0;
                                      &#125;
                                        .navbarItems.over c3m-dropdown .dropdownContent a&#123;
                                            color: #3e3d3d;
                                        &#125;
                                        .navbarItems.over c3m-dropdown[type=&#x22;bottom&#x22;] ul&#123;
                                            position: static;
                                            background-color:initial;
                                            top: 100%;
                                            padding: 0;
                                            transform: scale(0);
                                            transition: transform 0.2s;
                                            height:0;
                                        &#125;
                                            .navbarItems.over c3m-dropdown[type=&#x22;bottom&#x22;] ul.isOpen &#123;
                                                transform: scale(1);
                                                height:auto;
                                            &#125;

                     /* BURGER BUTTON */
                     c3m-navbar .burgerbtn&#123;
                         width: 1.8rem;
                         background-color: initial;
                         display:none;
                         height: 2.4rem;
                         cursor: pointer;
                         transition: transform 0.5s;
                     &#125;
                        c3m-navbar .burgerbtn.over&#123;
                            display: inline-block;
                        &#125;
                            c3m-navbar .burgerbtn.over.isOpen&#123;
                                transform: rotate(90deg);
                            &#125;
                           c3m-navbar nav .skip&#123;
                                position:absolute;
                                left:-9999px;
                            &#125;

              </code>
            </pre>
              </div>

          </c3m-tab>
          <c3m-tab tabTitle="TypeScript">
              <p class="pre-code">For <strong>navbar.component.ts</strong></p>
              <div class="code">
                  <!--?prettify lang=js linenums=true?-->
                  <pre class="prettyprint linenums">
                  <code>
                      import &#123; Component, ViewEncapsulation, ElementRef, ViewChildren, QueryList, ChangeDetectorRef, HostListener,
                        AfterViewInit, ContentChild, TemplateRef&#125; from &#x27;@angular/core&#x27;;
                        import &#123;DropdownComponent&#125; from &#x27;./dropdown/dropdown.component&#x27;;

                        @Component(&#123;
                          selector: &#x27;c3m-navbar&#x27;,
                          templateUrl: &#x27;./navbar.component.html&#x27;,
                          styleUrls: [&#x27;./navbar.component.css&#x27;],
                          encapsulation: ViewEncapsulation.None,
                        &#125;)
                        export class NavbarComponent implements AfterViewInit &#123;

                            /* List of Nav Items */
                            @ViewChildren(&#x27;navItems&#x27;) itemsElement: QueryList&#x3C;ElementRef&#x3E;;

                            /* Dropdowns Tab */
                            dropdowns: DropdownComponent[]=[];

                            /* Variables */
                            isOver: boolean;
                            widthBreak: number;
                            sizeInit = 0;
                            isOpen = false;

                            /* Resize breakpoint tab */
                            @HostListener(&#x27;window:resize&#x27;, [&#x27;$event&#x27;])
                            onResize(event) &#123;
                                if ( this.itemsElement.last.nativeElement.offsetTop &#x3E; this.itemsElement.first.nativeElement.offsetTop ) &#123;

                                    if ( (this.itemsElement.last.nativeElement.offsetTop &#x3E; this.itemsElement.first.nativeElement.offsetTop) &#x26;&#x26;  (this.isOver !== true) ) &#123;
                                        this.widthBreak = event.target.innerWidth;
                                        this.isOver = true;
                                    &#125;

                                    if (this.widthBreak) &#123;
                                        if ( (event.target.innerWidth &#x3E; this.widthBreak) &#x26;&#x26; (this.isOver === true) ) &#123;
                                            this.isOver = false;
                                        &#125;

                                    &#125; else &#123;
                                        this.widthBreak = this.sizeInit;
                                        if ( event.target.innerWidth &#x3E;= this.widthBreak ) &#123;
                                            this.isOver = false;
                                        &#125;
                                    &#125;
                                &#125; else &#123;
                                    this.isOver = false;
                                &#125;
                                this.cdr.detectChanges();
                            &#125;

                            /* Click on Burger Button */
                            toggleBurger() &#123;
                                if (this.isOpen === true) &#123;
                                    this.isOpen = false;
                                &#125; else if (this.isOpen === false) &#123;
                                    this.isOpen = true;
                                &#125;
                            &#125;

                            /* Resize auto page load */
                            ngAfterViewInit(): void &#123;
                                if ( this.itemsElement.last.nativeElement.offsetTop &#x3E; this.itemsElement.first.nativeElement.offsetTop ) &#123;

                                    if ( (this.itemsElement.last.nativeElement.offsetTop &#x3E; this.itemsElement.first.nativeElement.offsetTop) &#x26;&#x26;  (this.isOver !== true) ) &#123;
                                        this.widthBreak = window.innerWidth;
                                        this.isOver = true;

                                    &#125;

                                    if (this.widthBreak) &#123;
                                        if ( (window.innerWidth &#x3E; this.widthBreak) &#x26;&#x26; (this.isOver === true) ) &#123;
                                            this.isOver = false;
                                        &#125;

                                    &#125; else &#123;
                                        this.widthBreak = this.sizeInit;
                                        if ( window.innerWidth &#x3E;= this.widthBreak ) &#123;
                                            this.isOver = false;
                                        &#125;
                                    &#125;
                                &#125; else &#123;
                                    this.isOver = false;
                                &#125;
                                this.cdr.detectChanges();
                            &#125;

                            /* constructor navbar */
                            constructor(private cdr: ChangeDetectorRef) &#123;
                            &#125;

                            /* Close All the Dropdowns */
                            closeAllDropdown()&#123;
                                this.dropdowns.forEach((DropdownComponent) =&#x3E; &#123;
                                    DropdownComponent.isOpen = false;
                                &#125;);
                            &#125;

                            /* Add a Dropdown to Dropdowns Tab */
                            addTab(dropdown: DropdownComponent)&#123;
                                this.dropdowns.push(dropdown);
                            &#125;
                        &#125;

                </code>
              </pre>
              </div>

              <p class="pre-code">For <strong>dropdown.component.ts</strong></p>
              <div class="code">
                  <!--?prettify lang=js linenums=true?-->
                  <pre class="prettyprint linenums">
                          <code>
                                import &#123;Component, Input, ViewEncapsulation&#125; from &#x27;@angular/core&#x27;;
                                import &#123;DropdownItemComponent&#125; from &#x27;./dropdown-item/dropdown-item.component&#x27;;
                                import &#123;NavbarComponent&#125; from &#x27;../navbar.component&#x27;;

                                @Component(&#123;
                                  selector: &#x27;c3m-dropdown&#x27;,
                                  templateUrl: &#x27;./dropdown.component.html&#x27;,
                                  styleUrls: [&#x27;./dropdown.component.css&#x27;],
                                  encapsulation: ViewEncapsulation.None
                                &#125;)
                                export class DropdownComponent &#123;

                                    // INPUT
                                    @Input() isOpen;
                                    @Input() name;

                                    // ITEMS
                                    items: DropdownItemComponent[] = [];


                                    // CONSTRUCTOR
                                    constructor(private navbar: NavbarComponent) &#123;
                                        navbar.addTab(this);
                                    &#125;

                                    /* Add Item to a DropdownItem array */
                                    addTab(item: DropdownItemComponent) &#123;
                                        this.items.push(item);
                                    &#125;

                                    /* Open the dropdown menu */
                                    openDropdown() &#123;
                                      if (this.isOpen === true) &#123;
                                          this.navbar.closeAllDropdown();
                                      &#125;
                                      else &#123;
                                          this.navbar.closeAllDropdown();
                                          this.isOpen = true;
                                      &#125;
                                    &#125;

                                &#125;
                          </code>
                        </pre>
              </div>

              <p class="pre-code"> For <strong>dropdown-item.component.ts</strong></p>
              <div class="code">
                  <!--?prettify lang=js linenums=true?-->
                  <pre class="prettyprint linenums">
                    <code>
                        import &#123;Component, Input, ViewEncapsulation&#125; from &#x27;@angular/core&#x27;;
                        import &#123;DropdownComponent&#125; from &#x27;../dropdown.component&#x27;;
                        import &#123;AppComponent&#125; from &#x27;../../../../../app.component&#x27;;

                        @Component(&#123;
                          selector: &#x27;c3m-dropdown-item&#x27;,
                          templateUrl: &#x27;./dropdown-item.component.html&#x27;,
                          styleUrls: [&#x27;./dropdown-item.component.css&#x27;],
                          encapsulation: ViewEncapsulation.None
                        &#125;)
                        export class DropdownItemComponent&#123;

                          /* Inputs */
                          @Input() name;
                          @Input() idItem: number;
                          @Input() route;

                          /* Dropdown Item Constructor */
                            constructor(dropdown: DropdownComponent, app: AppComponent) &#123;
                              dropdown.addTab(this);
                              this.idItem = app.randomID();
                          &#125;

                        &#125;

                    </code>
              </pre>
              </div>
          </c3m-tab>


      </c3m-tabs>


  </div>

</div>



<!-- FOR FIXED TOP -->
<div class="titleComponent">
  <div class="descriptionComponent" id="fixedTopNav">
    <h3>
      <svg>
        <use xlink:href="#gitListItem"></use>
      </svg>
      Fixed Top Navbar

      <a href="https://github.com/CreamNG/Components/tree/master/navbar" class="gitBtn" target="_blank">
        <svg>
          <use xlink:href="#gitSvg"></use>
        </svg>

        <span>Github</span></a>
  </h3>

    <div class="explain">
      <dl>
        <dt>Fixed Top</dt>
        <dd>Add fixed-top class on c3m-navbar component</dd>
      </dl>
    </div>
      <!-- TABS SNIPPETS -->
      <c3m-tabs>
          <c3m-tab tabTitle="HTML">
              <p class="pre-code"> Add this class </p>
              <div class="code">
                  <!--?prettify lang=html linenums=true?-->
                  <pre class="prettyprint linenums">
                      <code>
                         &#x3C;!-- NAVBAR --&#x3E;
                        &#x3C;c3m-navbar class=&#x22;fixed-top&#x22;&#x3E; &#x3C;/c3m-navbar&#x3E;
                      </code>
                  </pre>
              </div>
          </c3m-tab>
          <c3m-tab tabTitle="CSS">
              <p class="pre-code"> To call the component </p>
              <div class="code">
                  <!--?prettify lang=css linenums=true?-->
                  <pre class="prettyprint linenums">
                      <code>
                          /* FIXED TOP */
                          c3m-navbar.fixed-top nav&#123;
                              position: fixed;
                              top: 0;
                              left: 0;
                              width: 100%;
                          &#125;
                      </code>
                  </pre>
              </div>
          </c3m-tab>

      </c3m-tabs>

      </div>
    </div>
