/* NAVBAR */
c3m-navbar nav {
  background-color: #45abbc;
  margin: 0.5rem 0 8rem 0.5rem;
  position: relative;
  width: 80%;
  z-index: 100;
}

/* NAVBAR LINK */
c3m-navbar .navbarItems{
    display:inline-block;
    transition: left 0.5s;
}
    c3m-navbar .navbarItems a {
        color: white;
    }
          c3m-navbar .navbarItems a:hover{
              text-decoration: underline;
          }
          c3m-navbar .navbarItems > li {
              display: inline-block;
              padding: 0 1.5rem;
              color: white;
              position: relative;
              z-index: 1;
          }
/* LOGO */
c3m-navbar .logo{
    display:inline-block;
}
  c3m-navbar .logo svg{
    height: 31px;
    width: 20px;
    fill: white;
  }

    c3m-navbar .navChild{
      padding: 2vh 2%;
    }
     c3m-navbar .navChild.over{
        padding:0;
     }
    /* ONLY FOR DEMO */
    c3m-navbar .containerDemo{
        display: inline-block;
        line-height: 2.3rem;
    }
        c3m-navbar .containerDemo.over{
            width: 100%;
            height: 15.3rem;
            position: absolute;
            top: 100%;
            left: 0;
            overflow: hidden;
        }

        /* NAVBAR ITEMS */
        c3m-navbar .navbarItems.over {
            position: absolute;
            top: 0;
            left: -100%;
            background-color: #ed9c21;
        }
            c3m-navbar .navbarItems.over.isOpen{
                left:0;
            }
                c3m-navbar .navbarItems.over li {
                    display:block;
                }
                    c3m-navbar .logo.over{
                      position: absolute;
                      left: 50%;
                      top: 0;
                      margin: 0.8rem;
                      line-height: 1.6rem;
                    }

/* DROPDOWN ITEM */

c3m-dropdown[type="bottom"] ul {
  position: absolute;
  background-color: #44abbc;
  transition: height 1s;
  min-width: 10rem;
  top: 3.4rem;
  overflow: hidden;
  z-index: 1;
  height: 1px;
}
  c3m-dropdown[type="bottom"] ul li{
    padding: 0rem 0.7rem;
  }
    c3m-dropdown[type="bottom"] ul.isOpen {
      background-color: #ed9c21;
      height: auto;
      top: 3.5rem;
    }
        c3m-dropdown > button{
            background: initial;
            color: white;
            cursor:pointer;
        }

          c3m-dropdown > button::after{
              content:"";
              width:1rem;
              height:1rem;
              display:inline-block;
              vertical-align: sub;
              margin-left: 0.3rem;
              transition:transform 0.3s;
              background: url(/assets/img/arrow-down-bold_white.svg) no-repeat right;
          }
                c3m-dropdown > button.isOpen::after{
                    transform: rotate(180deg);
                }
                 c3m-dropdown > button:hover{
                     font-weight:bold;
                 }
                .navbarItems.over c3m-dropdown .dropdownContent li{
                    font: 1rem "quicksandlight";
                    margin:0.6rem 0;
                  }
                    .navbarItems.over c3m-dropdown .dropdownContent a{
                        color: white;
                    }
                    .navbarItems.over c3m-dropdown[type="bottom"] ul{
                        position: static;
                        background-color:initial;
                        top: 100%;
                        padding: 0;
                        transform: scale(0);
                        transition: transform 0.2s;
                        height:0;
                    }
                        .navbarItems.over c3m-dropdown[type="bottom"] ul.isOpen {
                            transform: scale(1);
                            height:auto;
                        }

 /* BURGER BUTTON */
 c3m-navbar .burgerbtn{
     width: 1.8rem;
     background-color: initial;
     display:none;
     height: 2.4rem;
     cursor: pointer;
     transition: transform 0.5s;
 }
    c3m-navbar .burgerbtn.over{
        display: inline-block;
        margin: 0.8rem;
    }
        c3m-navbar .burgerbtn.over.isOpen{
            transform: rotate(90deg);
        }

 /* FIXED TOP */
c3m-navbar.fixed-top nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
    c3m-navbar nav .skip{
        position:absolute;
        left:-9999px;
    }





