/* SNIPPETS */

.tabsContainer {
  background-color: transparent;
  margin: 2rem 0;
}
  .tabsContainer > ul li {
    display: inline-block;
    text-align: center;
    margin-right: 0.5rem;
  }
    .tabsContainer > ul li.active {
      background-color: #F5F5F5;
    }

    .tabsContainer > ul li a {
        width: 100%;
        font-size: 1.1rem;
        color: #000;
        background-color: initial;
        cursor: pointer;
        padding: 0.3rem 0.9rem;
        display: block;
    }
    .tabsContainer > ul li.over {
      display:block;
      width:100%;
      border-bottom: 1px solid #FFF;
    }

c3m-tab .content[aria-hidden="false"] {
  background-color: #F5F5F5;
  padding: 1rem;
}
c3m-tab .content[aria-hidden="true"] {display:none;}


@media screen and (min-width:850px) {
  .tabsContainer > ul li {font-size: 1.2rem;}
}
