 /* BUTTON */
 c3m-btn button{
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 3px;
    background: rgb(105, 105, 105);
    cursor:pointer;
    margin-bottom:1.6rem;
  }
      /* BUTTON HOVER */
      c3m-btn button:hover{
          opacity:0.8;
      }
          /* COLORS OF DIFFERENTS BUTTONS */
          c3m-btn.success button{
              background-color: #6CBE45;
          }
          c3m-btn.info button{
              background-color: #45ABBC;
          }
          c3m-btn.warning button{
              background-color: #D769A8;
          }
          c3m-btn.danger button{
              background-color: #ED9C21;
          }
