<div class="panelTitle">
  <h2> <strong> Button </strong> Component </h2>
  <ul>
    <li><a href="#">Normal</a></li>
    <li><a href="#">Submit</a></li>
    <li><a href="#">Reset</a></li>
    <li><a href="#">FileUpload</a></li>
  </ul>
</div>


<!-- NORMAL BUTTON -->

<div class="titleComponent">
  <div class="descriptionComponent" id="nrmButton">
    <h3> Normal Button </h3>
    <p> It's a normal button with a onClick event </p>
    <app-button></app-button>

    <app-tabs>
      <app-tab tabTitle="HTML">
        <div class="code">

        </div>
      </app-tab>


      <app-tab tabTitle="CSS">
        <div class="code">

          </div>
      </app-tab>


    <app-tab tabTitle="TypeScript">
        <div class="code">

        </div>
    </app-tab>
 </app-tabs>

  </div>






<!--
  <div class="uploadButton" id="uplButton">
    <h3> Upload Button</h3>
    <p> It's a input that for upload a file </p>
      <form action="#" method="post" enctype="multipart/form-data">
        Select file to upload
        <input type="file" name="fileToUpload" id="fileToUpload">
        <input type="submit" value="Upload" name="submit">
      </form>
  </div>
-->

</div>
