<!-- TITLE SLIDER COMPONENT PAGE -->
<div class="panelTitle">
    <h2><strong>Skip Link</strong> Component</h2>
    <ul>
      <li><a scrollTo href="#skip">Skip link </a></li>
    </ul>
</div>


  <!-- INPUT REGULAR -->
  <div class="titleComponent">
    <div class="descriptionComponent" id="skip">
      <h3>
        <svg>
          <use xlink:href="#gitListItem"></use>
        </svg>
        Skip Link (invisible)

        <a href="https://github.com/CreamNG/Components/tree/master/skip" class="gitBtn" target="_blank">
          <svg>
            <use xlink:href="#gitSvg"></use>
          </svg>

          <span>Github</span></a>
      </h3>
      <p>This link is uses to skip the <code>main navigation</code>. He's <strong>invisible.</strong> Focus with Keyboard</p>
      <p> It use <a href="#">Link To </a> to focus/scroll to the desired content</p>
      <div class="demo">
        <!-- SKIP LINK -->
        <c3m-skip
          text="Go to the main content"
          [id]="'goTotheBottom'">
        </c3m-skip>
      </div>

      <div class="explain">
        <dl>
          <dt>Text</dt>
          <dd>Text of the link</dd>
        </dl>
        <dl>
          <dt>Id</dt>
          <dd>Reference to the Id that we want to focus</dd>
        </dl>
      </div>

      <!-- TABS SNIPPETS -->
      <c3m-tabs class="snippets">
        <c3m-tab tabTitle="HTML">
          <p class="pre-code">To call the component</p>
          <div class="code">
             <!--?prettify lang=html linenums=true?-->
              <pre class="prettyprint linenums">
  &lt;c3m-skip
    text=&#34;Go to the main content&#34;
    [id]=&#34;&apos;goTotheBottom&apos;&#34;&gt;
  &lt;/c3m-skip&gt;
              </pre>
          </div>
        </c3m-tab>

        <c3m-tab tabTitle="CSS">
        </c3m-tab>

        <c3m-tab tabTitle="TypeScript">
        </c3m-tab>

      </c3m-tabs>

      <p id="goTotheBottom"> I'm the focused text by <strong>c3m-link</strong></p>
    </div>
    </div>
