/* --------------------------- CREAM NG MAIN CSS ------------------- */
/* 2018 */

/* RESET */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
	box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
  width: 100%;
  height: 100%;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font: 100%/1.2 "robotoregular", Helvetica, Arial, sans-serif;
}

p, li, dt, dd {font-size: 1em;}
li p, li li, li dt, li dd {font-size: 100%;}

a {
	text-decoration: none;
	color:#929191;
}
a:hover {
	text-decoration: none;
}

hr {display:none;}

a.skip_links {
  left: -99999px;
  position: absolute;
}

img {max-width:100%; border:0;}

strong {
	font-family: "robotobold", Helvetica, Arial, sans-serif;
	font-weight: normal;
}


/* *********** PANEL TITLE ************* */

.panelTitle {padding: 2vh 5%;}

	.panelTitle h2 {
	    font: 1.6rem "robotoregular", Helvetica, Arial, sans-serif;
			margin-bottom: 1em;
	}
	.panelTitle ul {
	}
    .panelTitle li {
        display: inline-block;
        font: 1.1rem "robotolight", Helvetica, Arial, sans-serif;
    }
		.panelTitle li + li {margin-left: 2rem;}
    	.panelTitle li a {
        padding: 0.5em 0 0.3rem 0;
        color: #686868;
        transform: perspective(1px) translateZ(0);
        position: relative;
      }
        .panelTitle li a:before {
          content: "";
          position: absolute;
          z-index: -1;
          left: 50%;
          right: 50%;
          bottom: 0;
          background: #333333;
          height: 2px;
          transition-property: left, right;
          transition-duration: 0.1s;
          transition-timing-function: ease-out;
        }
    	.panelTitle li a:hover:before {
        left: 0;
        right: 0;
      }


/* ********** TITLE COMPONENT *********** */

.titleComponent {
    background-color: rgba(160, 160, 160, 0.38);
		padding: 2vh 5%;
}
  .titleComponent > div {margin-bottom: 3rem;}

      .titleComponent > div h3 {
        font: 1.4rem "robotoregular", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }
        .titleComponent > div > h3 a {float: right;}
          .titleComponent > div > h3 > svg{
            display: inline;
            width: 22.2px;
            height: 32px;
            vertical-align: bottom;
          }
   /* GitHub Button */
  .titleComponent .gitBtn {
      font: 1rem/1.8 "robotoregular", Helvetica, Arial, sans-serif;
      text-decoration: none;
      text-transform: capitalize;
			color: #312c2c;
      background-color: #FFF;
      padding: 0.4rem 0.5rem 0.2rem 0.5rem;
      margin-left: 0.5rem;
      border-radius: 3px;
      border: none;
      cursor: pointer;
      transition-property: color;
      transition-duration: 0.3s;
      position:relative;
      transform: perspective(1px) translateZ(0);
  }
      /* Git Hub IMG */
      .titleComponent .gitBtn svg {
        display: inline;
        height: 1.7rem;
        fill: #333;
        width:24px;
        vertical-align: middle;
        transition: fill 0.3s ease-out;
      }
          .titleComponent .gitBtn span {
              display: none;
          }

          /* GitHub Button Hover */
          .titleComponent .gitBtn:hover {
              color: white;
          }
            .titleComponent .gitBtn:hover svg{
              fill:white;
            }
            .titleComponent .gitBtn:before{
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 3px;
                background: #2098D1;
                transform: scale(0);
                transition-property: transform;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
            }
              .titleComponent .gitBtn:hover:before,
              .titleComponent .gitBtn:focus:before,
              .titleComponent .gitBtn:active:before {
                -webkit-transform: scale(1);
                transform: scale(1);
              }

  .titleComponent > div > p {
    font: 1rem "robotolight", Helvetica, Arial, sans-serif;
  }
    .titleComponent > div > p > strong {
      color: #000;
    }

    div.demo {background: #FFF; padding: 1rem; margin: 2rem 0;}

      div.explain dl {display: table-row; margin-bottom: 0.5em;}

        div.explain dt, div.explain dd {display: table-cell; padding: 0 0 0.5em;}

          div.explain dt {
            font-family: robotobold, Helvetica, Arial, sans-serif;
            color: #000;
            padding-right: 1em;
          }

  /* **************** CODE SNIPPPEETTSS *************** */

  .pre-code {
      font: 1.1rem "robotoregular", Helvetica, Arial, sans-serif;
      margin: 1rem 0;
  }
      .pre-code strong {color:#5d5d5d;}


/* ************ CODE SNIPPETS IN TABS COMPONENTS ********** */

        c3m-tabs div.code{
          margin-left: 0;
          background-color: #3e3e3e;
          color: white;
          overflow-x: auto;
          width: 100%;
        }
          c3m-tabs ol.display-code{
            list-style: decimal;
            margin-left: 2.2rem;
          }
                c3m-tabs ol.display-code li{
                    padding: 0.4rem 0.4rem 0.4rem 1rem;
                    margin-left: -0.2rem;
                }
                    c3m-tabs ol.display-code pre span{
                      color:#f7901e;
                    }
                      c3m-tabs ol.display-code em{
                            color: #2ad020;
                      }

  /* POUR LA GENERATION DE SNIPPETS CODE  */

  c3m-tabs .str{
      color: #ef86d7;
  }
  c3m-tabs .kwd{
      color: #6cd839;
  }
  c3m-tabs .com{
      color: #3fcfe6;
  }
  c3m-tabs .typ{
      color: #3fcfe6;
  }
  c3m-tabs .lit{
      color: #f59e17;
  }
  c3m-tabs .pun{
      color: #F1F2F3;
  }
  c3m-tabs .pln{
      color: #F1F2F3;
  }
  c3m-tabs .tag{
      color: #6cd839;
  }
  c3m-tabs .atn{
      color: #E0E2E4;
  }
  c3m-tabs .atv{
      color: #f59e17;
  }
  c3m-tabs .dec{
      color: #ef86d7;
  }
   c3m-tabs pre.prettyprint{
      overflow-x:auto;
      /* word-wrap: break-word;
      white-space: pre-wrap;*/
  }
    c3m-tabs .content .code{
      overflow-x:hidden;
    }
      c3m-tabs ol.linenums{
          margin-top: 0;
          margin-bottom: 0;
          display: inline-block;
          min-width: 100%;
      }
        c3m-tabs .prettyprint {
            background: #3E3E3E
        }
c3m-tabs li.L0, c3m-tabs li.L1, c3m-tabs li.L2, c3m-tabs li.L3, c3m-tabs li.L4, c3m-tabs li.L5, c3m-tabs li.L6, c3m-tabs li.L7, c3m-tabs li.L8, c3m-tabs li.L9{;
    padding: 0.2rem 0;

}
c3m-tabs li.L1, c3m-tabs li.L3, c3m-tabs li.L5, c3m-tabs li.L7, c3m-tabs li.L9 {
    background: initial;
    padding: 0.2rem 0;

}


/* GITHUB FORK BUTTON */

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%,100% {
        transform: rotate(0)
    }20%,60% {
        transform: rotate(-25deg)
    }40%,80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px){
    .github-corner:hover .octo-arm {
         animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}

@media screen and (min-width: 750px) {
      c3m-tabs div.code {
        width: 90%;
	      margin: 0 auto;
      }
      c3m-tabs ol.display-code {
        margin-left: 0;
      }
      .pre-code {
					width: 90%;
          font: 1.1rem "robotoregular";
          margin: 1rem auto;
      }
}

@media screen and (min-width: 1000px) {
	.titleComponent {padding: 5vh 5%;}

    .titleComponent .gitBtn span {
        display:inline;
    }

    app-root {
        display: flex;
        flex-wrap: wrap;
    }
    app-header {
        flex: 1 1 25%;
        max-width: 350px;
    }
    app-main {flex: 1 1 75%;}
    app-footer {flex-basis: 100%;}
}
