<!-- COMPONENT PAGE HEADER FOR GETTING STARTED-->
<div class="panelTitle">
  <h2>
    <strong> Frequently Asked Questions (F.A.Q) </strong>
  </h2>
  <ul>
    <li>
      <a scrollTo href="#svg">SVG</a>
    </li>
  </ul>
</div>

<article class="post">

  <!-- ANGULAR 2 INSTALL -->
  <section>
    <h3 id="svg">I have a problem with the icons, they do not appear. How should I do?</h3>

    <div class="group">
      <h4>The
        <strong>use</strong> tag is used </h4>
      <p>We use the use tag to display the svg thanks to an ID that we declare in our index.html. You can find the SVG
        <a href="https://github.com/CreamNG/Components/_SVG/index.html">here</a>
      </p>
    </div>
  </section>
  <section>
    <h3 id="question2">Question 2</h3>

    <div class="group">
      <h4>Answer 2 </h4>
      <p>Anwser Description 2</p>
    </div>
  </section>
  <section>
    <h3 id="question3">Question 3</h3>

    <div class="group">
      <h4>Answer3 </h4>
      <p>Anwser Description 3</p>
    </div>
  </section>
  <section>
    <h3 id="question4">Question 4</h3>

    <div class="group">
      <h4>Answer 4 </h4>
      <p>Anwser Description 4</p>
    </div>
  </section>


