
<!-- TITLE TABS COMPONENT PAGE -->
<div class="panelTitle">
  <h2><strong>Accordion</strong> Component</h2>
  <ul>
    <li><a scrollTo href="accordion">Normal Accordion</a></li>
  </ul>
</div>


<!-- DESCRIPTION ACCORDION COMPONENT PAGE -->
<div class="titleComponent">
  <div class="descriptionComponent" id="accordion">
    <h3>
        <svg>
          <use xlink:href="#gitListItem"></use>
        </svg>
        Normal Accordion

        <a href="https://github.com/CreamNG/Components/tree/master/accordion" class="gitBtn" target="_blank">
          <svg>
            <use xlink:href="#gitSvg"></use>
          </svg>

          <span>Github</span></a>
      </h3>

      <div class="explain">
        <dl>
          <dt>nameButton</dt>
          <dd>Title of the collapse</dd>
        </dl>
        <dl>
          <dt>Index</dt>
          <dd>Order of the collapse</dd>
        </dl>
        <dl>
          <dt>isOpen</dt>
          <dd>true if the collapse is open by default</dd>
        </dl>
      </div>
    <!-- ACCORDION DEMO -->
    <div class="demo">
        <c3m-accordion>

            <c3m-accordion-item nameButton="Title1" [index]=0 [isOpen]=false>
              <p>Content 1</p>
            </c3m-accordion-item>


            <c3m-accordion-item nameButton="Title 2" [index]=1 [isOpen]=false>
             <p>Content 2</p>
            </c3m-accordion-item>

            <c3m-accordion-item nameButton="Title3" [index]=2 [isOpen]=false>
              <p>Content 3</p>
            </c3m-accordion-item>


            <c3m-accordion-item nameButton="Title 4" [index]=3 [isOpen]=false>
              <p>Content 4</p>
            </c3m-accordion-item>

          </c3m-accordion>
    </div>

    <div class="explain">
      <p>This component is fully accessible and semantic and it is the same component
        used for the main navigation of this website.</p>
      <p>If you want a specific block to be opened on page load, set "isOpen" to "true".</p>
    </div>

    <!-- TABS SNIPPETS -->
    <c3m-tabs class="snippets">
      <c3m-tab tabTitle="HTML">
        <p class="pre-code">To call the component</p>
        <div class="code">
          <!--?prettify lang=html linenums=true?-->
          <pre class="prettyprint linenums">
  &#x3C;c3m-accordion&#x3E;
      &#x3C;c3m-accordion-item nameButton=&#x22;Title1&#x22;  [index]=0 [isOpen]=false&#x3E;
        Content 1
      &#x3C;/c3m-accordion-item&#x3E;
      &#x3C;c3m-accordion-item nameButton=&#x22;Title 2&#x22;  [index]=1 [isOpen]=false&#x3E;
        Content 2
      &#x3C;/c3m-accordion-item&#x3E;
      &#x3C;c3m-accordion-item nameButton=&#x22;Title3&#x22;  [index]=2 [isOpen]=false&#x3E;
        Content 3
      &#x3C;/c3m-accordion-item&#x3E;
      &#x3C;c3m-accordion-item nameButton=&#x22;Title 4&#x22;  [index]=3 [isOpen]=false&#x3E;
        Content 4
      &#x3C;/c3m-accordion-item&#x3E;
  &#x3C;/c3m-accordion&#x3E;
            </pre>
        </div>
      </c3m-tab>

      <c3m-tab tabTitle="CSS">
      </c3m-tab>

      <c3m-tab tabTitle="TypeScript">
      </c3m-tab>

    </c3m-tabs>
  </div>
</div>
