/* Label */
c3m-input-mail label{
  font-size: 1.1rem;
  display: block;
}

/* Input */
c3m-input-mail input{
  display: block;
  font-size: 1.1rem;
  padding: 0.1rem 0 0.1rem 0.4rem;
  font-family: quicksandregular;
  width: 40%;
  min-width: 220px;
}
